/* Universal Selector: Highlights all elements. */
 {
	border: .5px dashed green;
/*	background: url(http://i.imgur.com/xDdasDe.jpg); */
}
/* . = class # = ID */
#nav {
	text-decoration: none; 
	text-align: center;
	font-size: 25px;
}
.titles {
	text-align: center;
	font-size: 30px;
}
a:hover { /* Interaction with link when hovering over the text */
	color: black;
	border: 2px solid red;
	text-decoration: none;
}
a:visited { /* After the link is visited, this is what the link will look like*/
	color: black;
}
.vocab {
	font-family: Arial;
}
.header {
	text-align: left;
	font-family: Arial, Times; /* Use Caps, Left to right fonts based on computer*/
	font-size: 25px;
}
.box {
/*	display: block; */
	display: inline-block; */
/*	display: inline; */
/*	display: none; */
}
#b1 {
	height: 250px;
	width: 250px;
	background-color: Red;
	border-radius: 250px;
	border: .5px solid black;
}
#b2 {
	height: 400px;
	width: 400px;
	background-color: yellow;
	border-radius: 400px;
	border: .5px solid black;
	background: url(http://i.imgur.com/3IeH306.png); ); ); 
}
#b3 {
	height: 400px;
	width: 400px;
	background-color: blue;
	border-radius: 400px;
	border: .5px solid black;
	background: url(http://i.imgur.com/3IeH306.png); 
}
