#container {
	width: 480px;
	background: rgb(2,141,134); 
	background: -moz-linear-gradient(top,  rgb(2,141,134) 0%, rgb(2,119,113) 50%, rgb(0,111,105) 60%, rgb(1,93,90) 100%);
	background: -webkit-linear-gradient(top,  rgb(2,141,134) 0%,rgb(2,119,113) 50%,rgb(0,111,105) 60%,rgb(1,93,90) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#028d86', endColorstr='#015d5a',GradientType=0 ); 
	height: 100%;
	padding-top: 30px;
}

#incontainer {
	background-color: #003835;
	background-position: center;
	width: 420px;
	border-outline: 2px solid #a7a6a4;
    border: 2px solid;
    border-radius: 25px;
    overflow: hidden;
    margin: auto;
    padding: 0;
    border-color: #a2a7a3;
}


#header {
	text-align: center;
	background: rgb(36,36,36); 
	background: -moz-linear-gradient(top,  rgb(36,36,36) 0%, rgb(31,31,31) 48%, rgb(31,31,31) 48%, rgb(12,12,2) 49%, rgb(1,1,1) 100%);
	background: linear-gradient(to bottom,  rgb(36,36,36) 0%,rgb(31,31,31) 48%,rgb(31,31,31) 48%,rgb(12,12,2) 49%,rgb(1,1,1) 100%); 
	filter: progid:DXImageTransfor
	background-color: #003835;
	color: white;
	height: 120px;
}

#body {
	text-align: justify;
	margin: auto;
	width: 380px;
	color: white;
}

#google {
	text-align: center;
	background: rgb(36,36,36); 
	background: -moz-linear-gradient(top,  rgb(36,36,36) 0%, rgb(31,31,31) 48%, rgb(31,31,31) 48%, rgb(12,12,2) 49%, rgb(1,1,1) 100%);
	background: linear-gradient(to bottom,  rgb(36,36,36) 0%,rgb(31,31,31) 48%,rgb(31,31,31) 48%,rgb(12,12,2) 49%,rgb(1,1,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#010101',GradientType=0 ); 
	color: white;
	font-family: arial;
	font-size: 25px;
	height: 40px;
}

#ivy {
	text-align: center;
	background: rgb(36,36,36); 
	background: -moz-linear-gradient(top,  rgb(36,36,36) 0%, rgb(31,31,31) 48%, rgb(31,31,31) 48%, rgb(12,12,2) 49%, rgb(1,1,1) 100%);
	background: linear-gradient(to bottom,  rgb(36,36,36) 0%,rgb(31,31,31) 48%,rgb(31,31,31) 48%,rgb(12,12,2) 49%,rgb(1,1,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#010101',GradientType=0 ); 
	color: white;
	font-family: arial;
	font-size: 25px;
	height: 40px;	
}

#cnn {
	text-align: center;
	background: rgb(36,36,36); 
	background: -moz-linear-gradient(top,  rgb(36,36,36) 0%, rgb(31,31,31) 48%, rgb(31,31,31) 48%, rgb(12,12,2) 49%, rgb(1,1,1) 100%);
	background: linear-gradient(to bottom,  rgb(36,36,36) 0%,rgb(31,31,31) 48%,rgb(31,31,31) 48%,rgb(12,12,2) 49%,rgb(1,1,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#010101',GradientType=0 ); 
	color: white;
	font-family: arial;
	font-size: 25px;
	float: top;
	height: 40px;
}

#footer {
	text-align: center;
	padding-bottom: 1px;
	color: white;
}

html, body {
    margin: 0;
    padding: 0;
}



#visc {
	font-size: 20px;
	vertical-align: 5px;
}
















