<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cinemographs</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/3-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<!-- Update all cinemographs with reveal function in bootstrap.min.css -->
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html">ScottDevs</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../views/websites.html">Websites</a>
                    </li>
                    <li>
                        <a href="../views/tutorials.html">Tutorials</a>
                    </li>
                    <li>
                        <a href="../views/photography.html">Photography</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Cinemographs:
                    <small>The idea of freezing an image while letting a small section of the image remain in constant repeated motion.</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- PAGINATION -->
       
             <div class="row text-center">
                    <div class="col-lg-12">
                        <ul class="pagination">
                            <!--<li>
                                <a href="#">&laquo;</a>
                            </li>-->
                            <li>
                                <a href="photography.html">Photography</a>
                            </li>
                            <li class="active">
                                <a href="cinemographs.html">Cinemographs</a>
                            </li>
                            <!--<li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">&raquo;</a>
                            </li>-->
                        </ul>
                    </div>
                </div>
        <hr>
        <!--PAGINATION TOP-->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <!--<a href="#">-->
                  <img class="img-responsive" src="../photofx/cinemo/Nicole_BB_Front.gif" alt="Cinemograph">  
                </a>
                <!--<h3>
                    <a href="#">Title</a>
                </h3>
                <p>Description</p>-->
            </div>

            <div class="col-md-4 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="../photofx/cinemo/Nicole_Blink_Fan.gif" alt="Cinemograph">
                </a>
                <!--<h3>
                    <a href="#">Title</a>
                </h3>
                <p>Description</p>-->
            </div>
            <div class="col-md-4 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="../photofx/cinemo/Nicole_BB_Back.gif" alt="Cinemograph">
                </a>
                <!--<h3>
                    <a href="#">Title</a>
                </h3>
                <p>Description</p>-->
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="../photofx/cinemo/Nicole_Hair_Book.gif" alt="Cinemograph">
                </a>
                <!--<h3>
                    <a href="#">Title</a>
                </h3>
                <p>Description</p>-->
            </div>
            <div class="col-md-4 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="../photofx/cinemo/Nicole_Puzzle_Drink.gif" alt="Cinemograph">
                </a>
                <!--<h3>
                    <a href="#">Title</a>
                </h3>
                <p>Description</p>-->
            </div>
            <div class="col-md-4 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="../photofx/cinemo/Nicole_Sleep.gif" alt="Cinemograph">
                </a>
                <!--<h3>
                    <a href="#">Title</a>
                </h3>
                <p>Description</p>-->
            </div>
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <!--<a href="#">-->
                    <!--<img class="img-responsive" src="http://placehold.it/700x400" alt="">-->
                </a>
                <!--<h3>
                    <a href="#">Title</a>
                </h3>
                <p>Description</p>-->
            </div>
            <div class="col-md-4 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="../photofx/cinemo/Nicole_Water_Plants.gif" alt="Cinemograph">
                </a>
                <!--<h3>
                    <a href="#">Title</a>
                </h3>
                <p>Description</p>-->
            </div>
            <div class="col-md-4 portfolio-item">
                <!--<a href="#">-->
                    <!--<img class="img-responsive" src="http://placehold.it/700x400" alt="">-->
                </a>
                <!--<h3>
                    <a href="#">Title</a>
                </h3>
                <p>Description</p>-->
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination Bottom -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <!--<li>
                        <a href="#">&laquo;</a>
                    </li>-->
                    <li>
                        <a href="photography.html">Photography</a>
                    </li>
                    <li class="active">
                        <a href="cinemographs.html">Cinemographs</a>
                    </li>
                    <!--<li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>-->
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; ScottDevs 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
