<!DOCTYPE html>
<html>
<head>
<title>VISC 108 Final</title>

 <meta name="apple-mobile-web-app-status-bar-style"
content="black" />


<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script src="mobile_final_script.js"></script>

<link rel="stylesheet" type="text/css" href="../css/styles_mobile.css">
<link rel="apple-touch-startup-image" href="images/home.png"/>
<link rel="apple-touch-icon" href="images/visc.png"/>


</head>

<div id="container"><div id="incontainer">

<body>

<div id="header">

<h1>VISC 108</h1> 
<h2>MOBILE WEB APP DESIGN I</h2>
  


</div>



<div id="body">


</p>Name:_______________________________________</p>
<h1> Final Exam </h1>
<p>Take this JPG and turn it into a mobile app. This app must include:</p>

<ul>
	<li>Code to scale the layout</li>
	<li>Code to make this full-screen (no browserbars) when added to the Home Screen.</li>
	<li>Code to add an icon (that you will create) for the Home screen.</li>
	<li>Add a title to your app (for the Home screen).</li>
	<li>Make the following buttons "live" links:</li>
</ul>



</div>
<a href="https://google.com"> 
<div id="google">
	Google
</div></a>
<a href="https://www.ivytech.edu"> 
<div id="ivy">
	Ivy Tech
</div></a>
<a href="http://www.cnn.com"> 
<div id="cnn">
	CNN
</div></a>

<div id="footer">
<p>Thanks for a great semester, and good luck!</p>
</div>



</body>
</div>
</div>



</html>