<html>
<head>
<title>CodeAcademy Practice Site</title>
<link rel="stylesheet" type="text/css" href="../css/styles_practice.css">
<!-- Must be rel="stylesheet"-->
</head>

<body>
<div id="nav">
  <script src="../js/script_practice.js"></script>
</div>
<!-- Above replaces below.
<div id="nav"> 
<a href="index.html">Html/CSS</a> |  
<a href="js.html">JavaScript</a> |
<a href="jq.html">JQuery</a> |
<a href="angular.html">AngularJS</a> |
<a href="line.html">Command Line</a> |
<a href="ruby.html">Ruby</a> |
<a href="rubyrails.html">Ruby on Rails</a> |
<a href="php.html">PHP</a> |
<a href="sql.html">SQL</a> |
<a href="railsauth.html">Rails Authentication</a> |
<a href="learn.html">Learn Git</a>
</div>
-->
<h1 class="titles"> Html & CSS </h1>

<h1 class="header">Html/CSS Vocab</h1>
<h3 class="vocab">Block</h3>
<p>This make the element a block box. It won't let anything sit next to it on the page! It takes up the full width. </p>
<h3 class="vocab">Inline-Block</h3>
<p>This makes the element a block box, but will allow other elements to sit next to it on the same line.</p>
<h3 class="vocab">Inline</h3>
<p>This make the element sit on the same line as another element, but without formatting it like a block. It only takes up as much width as it needs (not the whole line).</p>
<h3 class="vocab">None</h3>
<p>This makes the element and its content disappear from the page entirely!</p>

<h1 class="header"> Margins </h1>
<h3 class="vocab">Margin</h3>
<p>Is the space around the element. The larger the margin, the more space between our element and the elements around it. We can adjust the margin to move our HTML elements closer to or farther from each other.</p>
<h3 class="vocab">Border</h3>
<p>Is the edge of the element. It's what we've been making visible every time we set the <em>border</em> property.
<h3 class="vocab">Padding</h3>
<p>Is the spacing between the content and the border. We can adjust this value with CSS to move the border closer to or farther from the content.</p>
<h3 class="vocab">Content</h3>
<p>Is the actual "stuff" in the box. If we are talking about &lt;p&gt; element, the "stuff" is the text of the paragraph.</p>


<div class="Box" id="b1"></div>
<div class="Box" id="b2"></div>
<div class="Box" id="b3"></div>

</body>