<html>
<head>
<title>CodeAcademy Practice Site</title>
<link rel="stylesheet" type="text/css" href="styles.css">
<!-- Must be rel="stylesheet"-->
</head>

<body>
<div id="nav">
  <script src="script.js"></script>
</div>

<h1 class="titles">Command Line</h1>

pwd = outputs the name of the current working directory.

ls = lists all files and directories in the working directory.

cd = switches you into the directory you specify.

cd .. = pushes you back one selection.

mkdir = creates a new directory in the working directory.

touch = creates a new files inside the working directory.

-a = lists all contents, including hidden files and directories

-l = lists all contents of a directory in long format

-t = order files and directories by the time they were last modified.




Columns = ls -l
1. Access rights. These are actions that are permitted on a file or directory.
2. Number of hard links. This number counts the number of child directories and files. This number includes the parent directory link (..) and the current directory link (.).
3. The username of the file's owner. Here the username is CC.
4. The name of the group that owns the file. Here the group name is eng.
5. The size of the file in bytes.
6. The date & time that the file was last modified.
7. The name of the file or directory